mixin nav-content()
  ul
    li: a(href="#about") About
    li: a(href="#projects") Projects
    li: a(href="#contact-me") Contact

.mobile-nav
  +nav-content()

header
  .header-position
    h1.logo A

    hr

    nav.site-nav
      +nav-content()

    hr

    .contact
      a(href="https://github.com/aspittel")
        span.ion-social-github

      a(href="https://twitter.com/ASpittel")
        span.ion-social-twitter

      a(href="mailto:ali07cat07@gmail.com")
        span.ion-email


    //- .mobile-nav-toggle: span
