section.contact-me#contact-me
  h3.center-align Contact Me
  .container.center
    .row
      form(method="POST" action="http://formspree.io/ali07cat07@gmail.com")
        input(type="email" name="email" class="validate" placeholder="Your Email Address")
        textarea(name="message" placeholder="Message" style="height:300px")
        button.btn.waves-effect.waves-light.red(type="submit" name="action") Send
          .ion-android-send.right
