section.projects#projects
  h3.center-align Projects
  .row
    .col.s12.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="assets/img/political-discussion.png")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Political Discussion
            i.ion-plus-round.right
          p
            a(href="http://politicaldiscussion.herokuapp.com/") Site
        .card-reveal
          .card-title.grey-text.text-darken-4 Political Discussion
            i.ion-close-round.right
          p Django application that retrieved and stored Tweets about the US Senators. It then performs statistical analyses to test whether certain politicians are discussed differently online. Finally, the data was displayed using dc.js and Google Charts.

    .col.s12.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="assets/img/rand-write.png")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Random Writer
            i.ion-plus-round.right
          p
            a(href="https://github.com/aspittel/coding_problems/blob/master/school_projects/c%2B%2B/randwrite.cc") Github
        .card-reveal
          .card-title.grey-text.text-darken-4 Random Writer
            i.ion-close-round.right
          p.
            C++ project that allows a user to input any text. The program then outputs text in the style of the input text.


    .col.s12.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="assets/img/flappy-bird.png")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Flappy Bird
            i.ion-plus-round.right
          p
            a(href="https://github.com/aspittel/coding_problems/blob/master/school_projects/python/Flappy_Bird.py") Github
        .card-reveal
          .card-title.grey-text.text-darken-4 Flappy Bird
            i.ion-close-round.right
          p Python script in Pygame that duplicates the Flappy Bird game.

  .row
    .col.s12.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="assets/img/personal-site.png")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 My Personal Site
            i.ion-plus-round.right
          p
            a(href="#") Site
        .card-reveal
          .card-title.grey-text.text-darken-4 My Personal Site
            i.ion-close-round.right
          p I wrote this site using Jekyll, Gulp, and Pug.

    .col.s12.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="assets/img/huffman.png")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Huffman Encoding
            i.ion-plus-round.right
          p
            a(href="https://github.com/aspittel/coding_problems/blob/master/school_projects/c%2B%2B/hdecode.cc") Github
        .card-reveal
          .card-title.grey-text.text-darken-4 The Huffman Encoding Project
            i.ion-close-round.right
          p C++ program that recreates the Huffman Encoding and Decoding algorithm.


    .col.s12.l4
      .card.medium
        .card-image.waves-effect.waves-block.waves-light
          img.activator(src="assets/img/coding-problems.png")
        .card-content
          span.card-title.activator.grey-text.text-darken-4 Coding Problems
            i.ion-plus-round.right
          p
            a(href="https://github.com/aspittel/coding_problems") Github
        .card-reveal
          .card-title.grey-text.text-darken-4 Coding Problems
            i.ion-close-round.right
          p This repository contains various coding problems I have completed. Some are from Code Jam, some are from school, and others are just problems I found interesting. Most are in Python. I also have 50+ efficient Project Euler solutions stored locally. If you would like to see any, just ask! 
