section.about#about
  .circular
  h2 Hi, I'm Ali!
  p I'm a Software engineer in Washington, DC for #[a(href="https://0ptimus.com/team/alison-spittel/") 0ptimus Consulting]. On a day to day basis I work on both the front and backend of applications in #[mark.blue.lighten-4 Django] and #[mark.pink.lighten-5 Ruby on Rails]. You can read more about what I do for work at #[a(href="https://0ptimus.com/blog/engineering-with-ali/") this blog post]. Recently, I've been learning #[mark.orange.lighten-4 Vue.js], #[mark.red.lighten-4 Java], #[mark.purple.lighten-4 Django Channels], and #[mark.green.lighten-4 algorithms]. When I'm not working you can find me watching my favorite New England sports teams, reading up on Senate races, taking runs around Capitol Hill, rock climbing, or participating in DC coding community events. 
